@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100vw;
    min-height: 100vh;
    background-color: hsl(216, 12%, 8%);
}

.container-rating {
    /* outline: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 380px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 25px;
    padding: 0 30px 0 30px;
    gap: 20px;
}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: hsla(216, 12%, 54%, .2);
}

.star > img {
    width: 15px;
}

p {
    font-size: 15px;
    color: hsl(217, 12%, 63%);
}

input[type="radio"] {
    display: none;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    /* outline: 1px solid white; */
    color: hsl(217, 12%, 63%);
    cursor: pointer;
    background-color: hsla(216, 12%, 54%, .2);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

input[type="radio"]:checked + label {
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-weight: 700;
}

input[type="radio"]:hover + label {
    background-color: hsl(217, 12%, 63%);
    color: white;
    font-weight: 700;
}

form {
    /* outline: 1px solid white; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
}

input[type="submit"] {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 15px 0;
}

input[type="submit"]:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

/* .rating-rate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: hsla(216, 12%, 54%, .2);
} */

